
<div class="col-sm-12">

	<div class="embed-responsive embed-responsive-16by9">
		<iframe height="400" class="embed-responsive-item" src="https://player.vimeo.com/video/170226326?color=d85a1a&amp;title=0&amp;byline=0&amp;portrait=0"></iframe>
	</div>

	<p>Half a century before Christopher Columbus sailed to the America\'s, a tiny Sitka spruce began its life nourished by a nurse log on the Oregon coast. Today, it is the largest and oldest tree in the Cape Perpetua Scenic Area of the Siuslaw National Forest. Nearly 600 years old, it stands over 185 feet tall and has a circumference of 40 feet.</p>
	<p>The root systems of large trees like this one spread out deep into the forest. The roots have an amazing ability to collect and hold water. This quality is very helpful during storms and heavy rains. Trees help manage storm water and prevent rivers and streams from flooding and causing damage. Urban trees also help capture pollution in runoff before it can damage local waterways.</p>
	
	<p>Geocache location: N 44&deg;16&acute;51.30 W124&deg;05&acute;25.30</p>
	
	<div class="row">
		<div class="col-xs-4">
			<img src="/ci/resources/images/oregon-coast/click04/thumbnail01.jpg" class="img img-responsive img-thumbnail">
		</div>
		<div class="col-xs-4">
			<img src="/ci/resources/images/oregon-coast/click04/thumbnail02.jpg" class="img img-responsive img-thumbnail">
		</div>
		<div class="col-xs-4">
			<img src="/ci/resources/images/oregon-coast/click04/thumbnail03.jpg" class="img img-responsive img-thumbnail">
		</div>	
	</div>
	
	<p>Learn more about how trees help manage storm water:
http://forestsforwatersheds.org/reduce-stormwater/
http://www.davey.com/media/183712/Stormwater_to_Street_Trees.pdf</p>
</div>