<div id="wrap">
    <!-- Begin page content -->
    <div class="container" >
    	<div class="row" style="margin-bottom: 150px;">
    		<div class="col-md-3">
    			<a href="/ci/home">
    				<img src="/ci/resources/images/_general/logo-exploreOregonForest.png" class="img img-responsive" />
    			</a>
    		</div>
    		<div class="col-md-6" style="background: url('/ci/resources/images/_general/translucent-bg.png');">
	    		<div class="page-header">
			        <h1 ng-bind-html="park.pkName"></h1>
			      </div>
		      <div ng-bind-html="park.pkHomeText" >
		      </div>
		      
		      <!--  only show if map is ready and park is active -->
		      <a ng-href="/ci/map/{{ park.pkInfoHash }}" class="btn btn-link btn-block" style="margin-bottom: 50px;" ng-show="park.isActive">		      	
				<img src="/ci/resources/images/_general/btn-begin-exploring.png" class="img-responsive center-block">
			  </a>
		      
    		</div>
    		
    		<div class="col-md-3">
    		 
    		</div>
    	</div>
      
    </div>
</div>